h1{
    font-family: Verdana, arial;
    font-size: smaller;
    font-style: italic;
}
p{
    color: blue;
    font-family: "Protest Riot";
    font-size:20px;
    font-style: italic;

}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}